.row.mb-3.text-center {
    background-color: #6b8e23; /* Color de fondo */
    padding: 20px; /* Espaciado interno, puedes ajustar según sea necesario */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Borde difuminado */
    text-align: center; /* Centrar el texto */
}