.row.mb-3.text-center {
    background: radial-gradient(circle, #6b8e23, #556b2f, #8b4513); /* De verde musgo a verde oliva y marrón */
    padding: 20px; /* Espaciado interno, puedes ajustar según sea necesario */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar el texto */
}