header {
    background-image: url(bannerdesetasblancoynegro.png);
    width: 100%; /* Asegura que el banner tome todo el ancho del contenedor */
    height: 300px; /* Ajusta la altura según tus necesidades */
    background-size: cover; /* Ajusta la imagen para que cubra el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-color: #5a3840;
    color: #3b5f40;
    padding: 20px;
    text-align: center;
  }
  