// _base.scss
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.6;
}

a {
  color: $primary-color;
  text-decoration: none;
  @include transition(color, 0.3s);

  &:hover {
    color: darken($primary-color, 10%);
  }
}

p {
  margin-top: 100px;
}

img {
  max-width: 70%;
  max-height: 1000px;
}
section {
  background: url(hongossobretela.jpg), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 15px;
}
.container{
    background: radial-gradient(circle, #6b8e23, #556b2f, #8b4513); /* De verde musgo a verde oliva y marrón */
padding: 20px;
border-radius: 10px;
margin-bottom: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border: 1px solid #556b2f; /* Un poco más oscuro que el verde musgo */
}
.col-sm-6 col-lg-8 themed-grid-col{
      background: radial-gradient(circle, #6b8e23, #556b2f, #8b4513); /* De verde musgo a verde oliva y marrón */
padding: 20px;
border-radius: 10px;
margin-bottom: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border: 1px solid #556b2f; /* Un poco más oscuro que el verde musgo */
}